This repository contains **unofficial** builds of the [Nim](https://nim-lang.org) compiler for various Linux distributions and CPU architectures.

The GNU builds are tested on Debian Buster, Ubuntu Bionic, Ubuntu Focal, Arch Linux, and Manjaro Linux. The musl builds are tested on Alpine Linux 3.8, 3.9, 3.10, 3.11, and 3.12. The builds are tested against a very small subset of the Nim test suite.

When new versions of Nim are released, this repository will automatically try to create and release new binaries within a few hours.

If you encounter anything unusual that doesn't seem like a bug in Nim, please report it. These builds are created for my benefit and shared for yours, with the caveat that, again, they are not official builds and they are not rigorously tested.

Pull requests targeting other architectures are welcome! This project uses distributed cross-compilers from [build-farm](https://github.com/elijahr/build-farm).

{% for release in releases %}
## [Nim {{ release.nim_version }}]({{ release.page_url }})
{% for asset in release.assets %}
- [{{ asset.name }}]({{ asset.browser_download_url }})

  {{ asset|asset_blurb }}
{% endfor %}
{% endfor %}
