# Hello!

This repository contains unofficial builds of [Nim](https://nim-lang.org) for various Linux distributions and CPU architectures (armv5, armv6, armv7, arm64, amd64, i686, powerpc64le).

The GNU builds are tested on Debian Buster, Ubuntu Bionic, Ubuntu Focal, Arch Linux, and Manjaro Linux. The musl builds are tested on Alpine Linux 3.8, 3.9, 3.10, 3.11, and 3.12. The builds are tested against a very small subset of the Nim test suite.

When new versions of Nim are released, this repository will automatically try to create and release new binaries within a few hours.

These builds are created for my benefit and shared for yours, with the caveat that they are not rigorously tested.

{% for release in releases %}
## [Nim {{ release.nim_version }}]({{ release.page_url }})

Built: {{ release.date.isoformat() }}

{% for asset in release.assets %}
- [{{ asset.name }}]({{ asset.browser_download_url }})

  {{ asset|asset_blurb }}
{% endfor %}
{% endfor %}

## Contributing

Pull requests targeting other platforms are welcome! This project uses distributed cross-compilers from [build-farm](https://github.com/elijahr/build-farm) - that's the best place to start.
